.img1 {

}
.img2{
    margin-top: 50px;
    margin-left: 10px;
}
.book-thumb>div{
    overflow: hidden;
}
.book-thumb img  {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}
.book-thumb img:hover  {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.desc-item a {
    width: 100%;
    border: 1px solid #fd7e14;
    display: inline-block;
    text-align: center;
}
.desc-item a:hover {
    background-color: #fd7e14;
    color: white;
}
.thumb-item {
    position: relative;
    overflow: hidden;
    height: 220px;
}
.thumb-item img {
    transition: all .4s linear;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.overlay-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(80, 73, 73, 0.45);
    transition: all 500ms ease;
    z-index: 10;
}
.thumb-item:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.thumb-item:hover .overlay-item {
    transform: translate(0,0);
    opacity: 1;
    visibility: visible;
}
